xsd/invoice.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.truckshippingsystem.org/invoice" version="1.0">
<xs:element name="invoice">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="custId" type="xs:int"/>
      <xs:element minOccurs="0" name="date" type="xs:string"/>
      <xs:element name="invoiceId" type="xs:int"/>
      <xs:element name="orderId" type="xs:int"/>
      <xs:element name="total" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>
