xsd/maintenance.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.truckshippingsystem.org/maintenance" version="1.0">
<xs:element name="maintenance">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="cost" type="xs:double"/>
      <xs:element minOccurs="0" name="date" type="xs:string"/>
      <xs:element minOccurs="0" name="desc" type="xs:string"/>
      <xs:element name="mainId" type="xs:int"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element name="truckId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>
