xsd/ticket.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.truckshippingsystem.org/ticket" version="1.0">
<xs:element name="ticket">
  <xs:complexType>
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:string"/>
      <xs:element minOccurs="0" name="desc" type="xs:string"/>
      <xs:element name="driverId" type="xs:int"/>
      <xs:element name="fine" type="xs:double"/>
      <xs:element name="isPaid" type="xs:boolean"/>
      <xs:element name="ticketId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>
