xsd/transaction.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.truckshippingsystem.org/transaction" version="1.0">
<xs:element name="transaction">
  <xs:complexType>
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:string"/>
      <xs:element name="orderId" type="xs:int"/>
      <xs:element name="priceId" type="xs:int"/>
      <xs:element name="qnty" type="xs:int"/>
      <xs:element name="tranId" type="xs:int"/>
      <xs:element name="unitPrice" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>
